

body {
    font-family: BenchNine;
}

h1 {
    font-family: "BenchNine";
    font-size:65px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}
h3 {
    font-family: "BenchNine";
    font-size:24px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;

}
.tipNumber {

    margin-top: 20px;
    text-align: middle;
    font-family: BenchNine;
    color: #c0392b;
    text-anchor:middle;
    font-size: 40px;
    fill: #e74c3c;
}
.info{
    margin-left: 20px;
}
.circles {
    stroke: slategrey;
    stroke-width: 1;
}

.highlight {
    stroke: #2c3e50;
    stroke-width: 1.5;
    fill-opacity:0.4;
}

.noHighlight {
    stroke: slategrey;
    stroke-width: 1;

}

.clusterLabels, .brushtext{
    text-anchor:middle;
    font-size: 20px;
    fill: #565656;
    stroke-width: 0.1px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    /*stroke: #e5e5e5;*/
}
.colorLegend {
    font-size: 16px;
    height: 20px;
    width: 300px;
}
.shadeLegend{
    font-size: 16px;
}
.sizeLegend {
    font-size: 16px;
}
.sizeLegend circle{
    fill: #ecf0f1;
    stroke: #34495e;
}
.legendSVG{
    border: 1px solid black;
    margin-top:5px;
}
.medianLabel {
    text-anchor: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    /*stroke: #e5e5e5;*/
}
.wageLabel {
    font-family: BenchNine;
    color: #c0392b;
    text-anchor:middle;
    font-size: 50px;
    fill: #e74c3c;
    /*stroke: #e5e5e5;*/
}
.tile {
    stroke: #FFF;
    stroke-width: 4;
}
.bar {
    fill: #27ae60;
    stroke: #FFF;
    stroke-width: .5;
}
.wageBar {
    stroke: #e74c3c;
    stroke-width: 3;
}
.tilestext {
    text-anchor:middle;
    font-size: 20px;
    fill: #565656;
    stroke-width: 0.1px;
    color: #34495e;
    /*stroke: #e5e5e5;*/
}
#spacer {
    width:100%
    height: 50px;
}
#clusterChartTitle {
    display:inline-block;
    margin: 0px;
    margin-left: 20px;
    font-size: 40px;
    width: 60%;
    float:left;
}
#infoPanel {
    display:inline-block;
    margin: 0px;
    margin-left: 20px;
    font-size: 16px;
    width: 60%;
    float:left;
    height: 350px;
}
#clusterLegend {
    display:inline-block;
    margin: 0px;
    margin-left: 20px;
    font-size: 40px;
    width: 30%;
    float: right;
    height: 350px;
}
#histFilterTitle {
    display:inline-block;
    margin: 0px;
    margin-left: 20px;
    font-size: 40px;
    width: 30%;
    float: right;
}
#topContainer {
    width:100%;
    height: 600px;
    display:inline-block;
}
#clusterChart {
    float: left;
    width: 70%;
    height: 600px;
}
#filterTable {
    float: right;
    width: 30%;
    height: 600px;
}
#distChart {
    float: left;
    width: 100%;
    background-color: #deebf7;
}
#demandChart {
    float: right;
    width: 100%;
    background-color: #deebf7;
 }
#growthChart {
    float: right;
    width: 100%;
    background-color: #deebf7;
}
.mapContainer {
    width:100%
}
.maps {
    display: inline-block;
    width:45%;
    font-size: 40px;
    margin-left: 20px;
}
#map1 {
    float:left;
}
#map2 {
    float:right;
}
.chartGroup {
    width: 100%;
}
.stateSelect {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
.clusterSelect {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
option {
    font-size: 20px;
}
.clusterSelect option {
    font-size: 20px;
}
.end{
    text-anchor:end;
}
.Axis{
    stroke: #eee;
    stroke-width: 4;
}
.content {
    display: inline-block;
    width: 70%;
}

.sideBar {
    display: inline-block;
    width: 30%;
    float:right;
}


.middlePoint{
    stroke: #eee;
}

.cChart{
   display:block;
}
.dChart{
    width:320px;
    display:table-cell;

}
.gChart{

}
.title {
    font-family: BenchNine;
    color: #34495e;
    font-size: 24px;
    text-anchor: middle;
}
.demandChart{
    width:320px;
    display:table-cell;

}

.highlighted{
    stroke: #404040;;
    stroke-width:4;
}

.brush .selection {
    fill-opacity: .5;
}

.selected{

    stroke: #404040;
    stroke-width:4;
    r:25px;
}


h2{
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    min-height: 30px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:30px;
    font-weight: bold;
    color: #2980b9;
    font-family: BenchNine;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

#selectLabels {
    margin-left: 30px;
    font-size: 26px;
    color: #eee;
}
/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width:auto;
}

header {
    height:280px;
    background-color:#eee;
}
.lead {
    margin-left: 20px;
    font-size: 60px;
}
.masthead {
    background-image: url("banner-job3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}


